.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: $Container;

  .logo-container {
    .logo {
      height: 50px;
      width: 150px;
    }
  }
  .links-container {
    width: 100vw;

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      padding: 0 0px 0 20px;
      text-decoration: none;
      color: $ContainerTxt;
      transition: 0.3s ease;
    }
  }
  .social-icons-container {
    width: 100vw;
    padding: 30px 0 30px 0;
    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li svg {
      padding: 0 20px 0 20px;
      fill: $ContainerTxt;
      transition: fill 0.3s ease;
    }
  }

  ul.links,
  ul.social-icons {
    cursor: pointer;
    list-style: none;
  }
}

// Tablet breakpoint
@media screen and (min-width: $breakpoint-tablet) {
  .logo {
    scale: 1.2;
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
  .footer-container {
    padding: 30px 0 50px 0;
  }

  .links-container {
    padding: 20px 0 20px 0;

    li {
      padding: 0 40px 0 40px;
      font-size: 1.2rem;
      a {
        &:hover {
          color: $Bg;
        }
      }
    }
  }

  .social-icons {
    scale: 1.4;

    li:hover svg {
      fill: $Bg;
    }
  }
}
