.pagination-container {
  padding: 10px 0px 10px 15px;
  background-color: $Container;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .pagination-btns {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    button {
      cursor: pointer;
      border: 0.2px solid $ContainerTxt;
      padding: 3px 7px 3px 7px;
      margin-right: 8px;
      margin-bottom: 10px;
      font-size: 0.8rem;
      border-radius: 6px;
      background-color: transparent;
      color: $ContainerTxt;
      font-weight: 600;
      transition: 0.3s ease;

      &:hover,
      &:focus {
        background-color: $ContainerTxt;
        color: $Bg;
      }
    }
  }
}

// Tablet breakpoint
@media screen and (min-width: $breakpoint-tablet) {
}
