.pagination-container {
  flex-direction: column;
  padding: 10px 0px 10px 15px;
  background-color: $Container;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .pagination-btns {
    padding-bottom: 15px;
    button {
      cursor: pointer;
      border: 0.2px solid $ContainerTxt;
      padding: 3px 7px 3px 7px;
      margin-right: 8px;
      font-size: 0.8rem;
      border-radius: 6px;
      background-color: transparent;
      color: $ContainerTxt;
      font-weight: 600;
      transition: 0.3s ease;

      &:hover,
      &:focus {
        background-color: $ContainerTxt;
        color: $Bg;
      }
    }
  }

  .select-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h2 {
      padding-right: 10px;
      font-size: 1rem;
      font-weight: 600;
      color: $ContainerTxt;
    }

    .itemsPerPage {
      margin-left: 10px;
      height: 100%;
      width: 70px;
      font-size: 0.8rem;
      background-color: transparent;
      border: 1px solid $ContainerTxt;
      appearance: none;
      padding: 5px 10px 5px 15px;
      color: $ContainerTxt;
      border-radius: 8px;

      &:focus {
        outline: none;
      }
    }

    .select-icon-items {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }
}

// Tablet breakpoint
@media screen and (min-width: $breakpoint-tablet) {
  .pagination-container {
    flex-direction: row;
    flex-wrap: nowrap;

    .pagination-btns {
      padding-bottom: 0;
      margin-right: 50px;

      button {
        font-size: 1rem;
      }
    }

    .select-container {
      margin-left: 50px;

      h2 {
        font-size: 1.2rem;
      }
    }
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
  .pagination-container {
    .select-container {
      .itemsPerPage {
        font-size: 1rem;
      }
    }
  }
}
