.search-container {
  padding: 10px 0px 10px 0px;

  .search-items {
    display: flex;
    border-radius: 5px;
    height: 40px;
    margin: 10px 0 10px 0;
    display: flex;

    .search-field {
      width: 100%;
      padding: 10px 35px 10px 15px;
      border: 1px solid $Container;
      border-radius: 10px;
      outline: none;
      &::placeholder {
        color: $ContainerTxt;
      }
    }
    .search-btn {
      cursor: pointer;
      padding: 0 25px;
      background: $Container;
      border: none;
      outline: none;
      margin-left: -33px;
      border-radius: 0 10px 10px 0;

      .fa-magnifying-glass {
        scale: 1.3;
        color: $ContainerTxt;
      }
    }
  }
}
