.sort-container {
  padding: 10px 0px 10px 15px;
  background-color: $Container;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  h2 {
    padding-right: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: $ContainerTxt;
  }
  .select-container {
    position: relative;
    height: 30px;
    margin-right: 10px;

    .sort-order {
      margin-left: 10px;
      height: 100%;
      width: 160px;
      font-size: 0.8rem;
      background-color: transparent;
      border: 1px solid $ContainerTxt;
      appearance: none;
      padding: 0 30px 0 10px;
      color: $ContainerTxt;
      border-radius: 8px;

      &:focus {
        outline: 1px solid $ContainerTxt;
      }
    }

    .select-icon {
      position: absolute;
      right: 15px;
      top: 30%;
      transform: translateY(-20%);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }
}

// Tablet breakpoint
@media screen and (min-width: $breakpoint-tablet) {
  .sort-container {
    h2 {
      font-size: 1.2rem;
    }
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
  .sort-container {
    .select-container {
      .sort-order {
        font-size: 1rem;
        width: 200px;
      }
    }
  }
}
