.sort-container {
  padding: 10px 0px 10px 15px;
  background-color: $Container;
  display: flex;
  border-radius: 10px;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  label {
    flex: 0 0 40%;
    font-size: 1rem;
    font-weight: 600;
    color: $ContainerTxt;
  }
  .select-container {
    position: relative;
    width: 220px;
    height: 30px;
    margin-right: 10px;

    .sort-order {
      flex: 0 0 60%;
      height: 100%;
      width: 100%;
      font-size: 0.8rem;
      background-color: transparent;
      border: 1px solid $ContainerTxt;
      appearance: none;
      padding: 0 30px 0 10px;
      color: $ContainerTxt;
      border-radius: 8px;

      &:focus {
        outline: none; // Remove outline
      }
    }

    .select-icon {
      position: absolute;
      right: 10px;
      top: 40%;
      transform: translateY(-40%);
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }
}
