.nav-mobile {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: -180px;
  width: 180px;
  height: 210px;
  background-color: $Container;
  z-index: 10;
  transition: right 0.3s ease;
  box-shadow: -4px 4px 16px $border, 0px 8px 32px $border;

  &.active {
    right: 0px;
  }

  ul {
    margin-top: 25px;
    text-align: center;
    list-style: none;

    li {
      cursor: pointer;
      font-size: 1.3rem;
      line-height: 2.5;
      font-weight: 400;

      a {
        color: $Bg;
        text-decoration: none;
      }
    }
  }
}

// Tablet breakpoint
@media screen and (min-width: $breakpoint-tablet) {
  .nav-mobile {
    display: none;
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
}
