.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;

  .single-card {
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: $border 0px 4px 16px, $border 0px 8px 32px;
    height: 180px;
    max-height: auto;
    margin-bottom: 15px;

    .card-left {
      flex: 0 0 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 10px 10px 10px;
      border-right: 1px solid $border;
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      transition: transform 0.4s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    .card-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 1 60%;
      padding: 10px 10px 10px 20px;

      .name-container {
        display: flex;
        justify-content: space-between;

        .name {
          font-weight: 400;
          font-size: 1rem;
          color: $ContainerTxt;
        }
        .fa-star {
          cursor: pointer;
          color: $ContainerTxt;
        }
      }
      .price {
        font-weight: 200;
        font-size: 0.9rem;
        padding: 10px 0px 10px 0px;
        color: $ContainerTxt;
      }

      .description {
        font-size: 0.6rem;
        padding-right: 5px;
        font-weight: 200;
        line-height: 1.4;
        color: $ContainerTxt;
      }

      .tags-container {
        display: flex;
        padding-top: 25px;
        .tag {
          display: flex;
          align-items: center;
          justify-content: center;
          height: auto;
          width: auto;
          padding: 2px 6px 2px 6px;
          margin-right: 10px;
          font-size: 0.55rem;
          border-radius: 5px;
          background-color: $Container;
          color: $ContainerTxt;
          font-weight: 100;
        }
      }
    }
  }
}

// Tablet breakpoint
@media screen and (min-width: $breakpoint-tablet) {
  .cards-container {
    .single-card {
      max-width: 325px;
      margin: 10px;

      .card-right {
        .name-container {
          .name {
            font-size: 1.2rem;
          }
        }

        .price {
          font-size: 1.1rem;
        }

        .description {
          font-size: 0.7rem;
        }

        .tags-container {
          .tag {
            font-size: 0.65rem;
          }
        }
      }
    }
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
  .cards-container {
    .single-card {
      flex: 0 0 45%;
      max-width: 500px;
      margin: 5px;

      img {
        width: 160px;
        height: 160px;
      }

      .card-right {
        .name-container {
          .name {
            font-size: 1.2rem;
          }
        }

        .price {
          font-size: 1.1rem;
        }

        .description {
          font-size: 0.7rem;
        }

        .tags-container {
          .tag {
            font-size: 0.65rem;
          }
        }
      }
    }
  }
}

// flex: 0 0 calc(30% - 10px);
