.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: yellow;
  // height: 50px;

  .logo {
    display: flex;
    height: 50px;
    padding-left: 10px;
  }
  .hamburger {
  }
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-tablet) {
}

// Desktop breakpoint
@media screen and (min-width: $breakpoint-desktop) {
  // .nav-content {
  //   margin-top: 20px;

  //   .logo {
  //     scale: 1.5;
  //     margin-left: 40px;
  //     margin-top: 10px;
  //   }

  //   .hamburger {
  //     display: none;
  //   }
  // }
}
